<%= form_for @product, {:action=> :create} do |f|%>
	<p> Name: <%= f.text_field :name %></p>
	<p>	Price: <%= f.text_field :price %> </p>
	<p> Color: <%= f.text_field :color %></p>
	<p> Description: <%= f.text_area :description %> </p>
	<p> Avatar: <%= f.file_field :avatar%> </p>
	<p> <%= f.submit%></p>
<% end %>