<!DOCTYPE html>
<html>
<head>
  <title>SampleOmniauth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
<% else %>	
	<%= link_to "Sign in", new_user_session_path%>
<% end %>

<p><%= flash[:notice].present? ? flash[:notice] : flash[:error].present? ? flash[:error] : "" %></p>
<%= yield %>

</body>
</html>
